.icon-close {
  min-width: 24px;
  height: 24px;
  background-image: url("/src/base/icon/icon-close.svg");
}

.icon-show-password {
  min-width: 16px;
  height: 16px;
  background-image: url("/src/base/icon/icon-show-password.svg");
}

.icon-hide-password {
  min-width: 16px;
  height: 16px;
  background-image: url("/src/base/icon/icon-hide-password.svg");
}
